@import "tailwindcss";

@theme {
  --color-light: #F7F8FD;
  --color-hojicha: #616153;
  --color-matcha: #6C9988;
  --color-gyokuro: #E2DDC0;
  --color-sencha: #A1BF95;
}

body {
  background-color: var(--color-light);
  color: var(--color-hojicha);
}

.vertical-text {
  writing-mode: vertical-rl;
}