@import "tailwindcss";

@theme {
  --color-cream: #F9F9F9;
  --color-beige: #F1F0EF;
  --color-hojicha: #616153;
  --color-charcoal: #616153;
  --color-white: #EDEDE8;
}

body {
  background-color: var(--color-cream);
  color: var(--color-charcoal);
}

.vertical-text {
  writing-mode: vertical-rl;
}